<header>
  <section class="container">
    <h1 class="logo__h1">
      <a href="{% url 'home' %}">Forfree<span>Letters</span></a>
    </h1>

    <nav>
      <ul id="navlinks">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'templates' %}">Templates</a></li>
        {% comment %}
        <li><a href="#">Cover Letters</a></li>
        <li><a href="#">Biography</a></li>
        <li><a href="#">Statement of Purpose</a></li>
        <li><a href="#">Business Letters</a></li>
        <li><a href="#">Recommendation Letters</a></li>
        {% endcomment %}
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <i id="toggleNav" class="ri-menu-line nav__toggle"></i>
    </nav>
  </section>
</header>
