<section id="mobile__nav" class="mobile__nav hide">
  <nav>
    <ul id="navlinks">
      <li><a href="#">Home</a></li>
      <li><a href="#">CV</a></li>
      <li><a href="#">Cover Letters</a></li>
      <li><a href="#">Biography</a></li>
      <li><a href="#">Statement of Purpose</a></li>
      <li><a href="#">Business Letters</a></li>
      <li><a href="#">Recommendation Letters</a></li>
      <li><a href="#">Account</a></li>
    </ul>

    <i id="toggleNav2" class="ri-close-line nav__toggle"></i>
  </nav>
</section>
