{% extends 'base.html' %} {% load static %} {% block title %}
<title>Registration Successful | ForfreeLetters</title> {% endblock title %} 
{% block seometa %}
<!-- SEO -->
<meta name="description" content="Your page description goes here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="Onimisea" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Open Graph (OG) Tags -->
<meta property="og:title" content="Your Page Title" />
<meta property="og:description" content="Your page description goes here." />
<meta property="og:image" content="https://example.com/your-image.jpg" />
<meta property="og:url" content="https://example.com/your-page-url" />
<meta property="og:site_name" content="Your Site Name" />
<meta property="og:type" content="website" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@yourtwitterhandle" />
<meta name="twitter:title" content="Your Page Title" />
<meta name="twitter:description" content="Your page description goes here." />
<meta name="twitter:image" content="https://example.com/your-image.jpg" />
{% endblock seometa %} {% block content %}

<section class="main__content">
  <section class="container">
    <section class="register">
      <h3 class="register__success">
        Congratulations <span>{{ user_data.first_name }}</span>, your
        registration was successful. Please check your email (<span>{{ user_data.email }}</span>) to verify your account.
      </h3>
    </section>
  </section>
</section>

{% endblock content %}
