{% extends 'base.html' %} {% load static %} {% block title %}
<title>Register | ForfreeLetters</title> {% endblock title %} {% block seometa %}
<!-- SEO -->
<meta name="description" content="Your page description goes here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="Onimisea" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Open Graph (OG) Tags -->
<meta property="og:title" content="Your Page Title" />
<meta property="og:description" content="Your page description goes here." />
<meta property="og:image" content="https://example.com/your-image.jpg" />
<meta property="og:url" content="https://example.com/your-page-url" />
<meta property="og:site_name" content="Your Site Name" />
<meta property="og:type" content="website" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@yourtwitterhandle" />
<meta name="twitter:title" content="Your Page Title" />
<meta name="twitter:description" content="Your page description goes here." />
<meta name="twitter:image" content="https://example.com/your-image.jpg" />
{% endblock seometa %} {% block content %}

<section class="main__content">
  <section class="container">
    <section class="register">
      <section class="heading">
        <h1><span>Register</span></h1>

        <section class="divider">
          <span class="line"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </section>
      </section>

      <form method="post">
        {% csrf_token %}
        <section class="form-group">
          <input
            type="text"
            name="{{ form.first_name.name }}"
            id="{{ form.first_name.id_for_label }}"
            class="form-control"
            placeholder="First Name"
          />
          {% if form.first_name.errors %}
          <small class="text-danger">{{ form.first_name.errors }}</small>
          {% endif %}
        </section>
        <section class="form-group">
          <input
            type="text"
            name="{{ form.last_name.name }}"
            id="{{ form.last_name.id_for_label }}"
            class="form-control"
            placeholder="Last Name"
          />
          {% if form.last_name.errors %}
          <small class="text-danger">{{ form.last_name.errors }}</small>
          {% endif %}
        </section>
        <section class="form-group">
          <input
            type="email"
            name="{{ form.email.name }}"
            id="{{ form.email.id_for_label }}"
            class="form-control"
            placeholder="Email Address"
          />
          {% if form.email.errors %}
          <small class="text-danger">{{ form.email.errors }}</small>
          {% endif %}
        </section>
        <section class="form-group">
          <input
            type="password"
            name="{{ form.password1.name }}"
            id="{{ form.password1.id_for_label }}"
            class="form-control"
            placeholder="Password"
          />
          {% if form.password1.errors %}
          <small class="text-danger">{{ form.password1.errors }}</small>
          {% endif %}
        </section>
        <section class="form-group">
          <input
            type="password"
            name="{{ form.password2.name }}"
            id="{{ form.password2.id_for_label }}"
            class="form-control"
            placeholder="Confirm Password"
          />
          {% if form.password2.errors %}
          <small class="text-danger">{{ form.password2.errors }}</small>
          {% endif %}
        </section>
        <button type="submit" class="primary__btn">Register</button>
      </form>
    </section>
  </section>
</section>

{% endblock content %}
