* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat";
  transition: all 0.5s ease;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191970;
}

body {
  background: #f3f1f2;
  min-height: 100vh;
  font-size: 16px;
  position: relative;
  font-family: "Montserrat";
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

.outer__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.divider {
  display: flex;
  width: 50%;
  gap: 7px;
  align-items: center;
}

.divider .line {
  width: 80%;
  height: 3px;
  background-color: #191970;
  border-radius: 50px;
}

.divider .dot {
  width: 4px;
  height: 4px;
  background-color: #191970;
  border-radius: 100%;
}

.mobile__nav {
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__nav nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav__toggle {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav__toggle:hover {
  color: #191970;
}

.mobile__nav nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.mobile__nav nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

.mobile__nav nav ul li a:hover {
  color: #191970;
}

.hide {
  display: none;
}

.alert__error {
  padding: 5px;
  /* background-color: red; */
  color: red;
  font-weight: bold;
}

/* MAIN CONTENT */
.main__content {
  /* background-color: #191970; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__content .hero {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}

.main__content .hero .hero__container {
  background-color: #c5c8c9;
  border-bottom-right-radius: 200px;
  padding: 10% 0;
  overflow: hidden;
}

.main__content .hero .hero__container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__content .hero .hero__container .container .col:nth-child(1) {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__content .hero .hero__container .container .col:nth-child(1) h1 {
  font-size: 27px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 40px;
  color: black;
}

.main__content .hero .hero__container .container .col:nth-child(1) p {
  font-size: 15px;
  line-height: 27px;
  color: black;
  word-break: keep-all;
  text-align: justify;
}

.primary__btn {
  background-color: #191970;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: fit-content;
  text-decoration: none;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.primary__btn:hover {
  background-color: black;
}

.main__content .hero .hero__container .container .col:nth-child(2) {
  width: 42%;
}

.main__content .hero .hero__container .container .col:nth-child(2) img {
  width: 100%;
  max-height: auto;
  transition: all 0.5s ease;
}

.main__content .hero .hero__container .container .col:nth-child(2) img:hover {
  transform: scale(1.03);
}

.main__content .hiw {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  padding: 10% 0;
}

.main__content .hiw .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.main__content .hiw .container .heading {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .hiw .container .heading span {
  color: #191970;
}

.main__content .hiw .container .heading .divider {
  width: 60%;
}

.main__content .hiw .container .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.main__content .hiw .container .row .col:nth-child(1) {
  width: 42%;
}

.main__content .hiw .container .row .col:nth-child(1) img {
  width: 100%;
  max-height: auto;
}

.main__content .hiw .container .row .col:nth-child(2) {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__content .hiw .container .col:nth-child(2) ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__content .hiw .container .col:nth-child(2) ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.main__content .hiw .container .col:nth-child(2) ul li svg {
  width: 27px;
  color: #191970;
}

.main__content .newsletter {
  width: 100%;
  height: 350px;
  position: relative;

  /*  this is where the magic happens:  */
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1631557777232-a2632ae3c67d?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.main__content .newsletter .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.main__content .newsletter .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 15;
  color: white;
  text-align: center;
}

.main__content .newsletter .container form input {
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  outline: none;
  border: none;
  border: 1px solid #191970;
}

.main__content .newsletter .container form input:focus,
.main__content .newsletter .container form input:hover {
  border: 2px solid #191970;
}

.main__content .templates {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10% 0;
}

.main__content .templates .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.main__content .templates .container .heading {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .templates .container .heading span {
  color: #191970;
}

.main__content .templates .container .heading .divider {
  width: 60%;
}

.main__content .templates .container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .templates .container .row .cate {
  outline: none;
  border: none;
  background-color: #191970;
  color: white;
  border-radius: 20px;
  padding: 8px 14px;
  cursor: pointer;
}

.main__content .templates .container .row .cate:hover {
  background-color: black;
}

.main__content .templates .container .row .active {
  background-color: black;
}

.main__content .templates .container .row .active:hover {
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
}

.main__content .templates .container .subcate-row .subcate {
  outline: none;
  border: 2px solid #191970;
  background-color: white;
  color: #191970;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
}

.main__content .templates .container .subcate-row .subcate:hover {
  background-color: #191970;
  color: white;
}

.main__content .templates .container .subcate-row .active {
  background-color: black;
  color: white;
}

.main__content .templates .container .subcate-row .active:hover {
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
}

.main__content .templates .container .templates__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .templates .container .templates__rows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.main__content .templates .container .templates__rows .template__card {
  width: 30%;
  background-color: white;
  padding: 10px 20px 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__content .templates .container .templates__rows .template__card img {
  width: 100%;
  max-height: auto;
}

.main__content .templates .container .templates__rows .template__card h3 {
  font-size: 20px;
  color: #191970;
}

.main__content .templates .container .templates__rows .template__card .catp {
  font-size: 16px;
}

.main__content .templates .container .templates__rows .template__card a {
  color: white;
  background-color: #191970;
  padding: 7px 14px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.main__content .templates .container .templates__rows .template__card a:hover {
  background-color: black;
}

.main__content
  .templates
  .container
  .templates__row
  .templates__rows__pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.main__content
  .templates
  .container
  .templates__row
  .templates__rows__pagination
  button {
  color: white;
  background-color: #191970;
  padding: 7px 14px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  outline: none;
  border: none;
}

.main__content
  .templates
  .container
  .templates__row
  .templates__rows__pagination
  button:hover {
  background-color: black;
}

.main__content
  .templates
  .container
  .templates__row
  .templates__rows__pagination
  .active {
  background-color: black;
}

.main__content
  .templates
  .container
  .templates__row
  .templates__rows__pagination
  .active:hover {
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
}

.main__content .blog {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 10% 0;
}

.main__content .blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.main__content .blog .container .heading {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .blog .container .heading span {
  color: #191970;
}

.main__content .blog .container .heading .divider {
  width: 60%;
}

.main__content .blog .container .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.main__content .all__templates {
  outline: none;
  border: none;
  background-color: #191970;
  color: white;
  border-radius: 20px;
  padding: 8px 14px;
  cursor: pointer;
}

.main__content .all__templates:hover {
  background-color: black;
}

.main__content .templates__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 5% 0;
}

.main__content .templates__wrapper .container .search__input {
  width: 50%;
  margin: 0 auto;
}

.main__content .templates__wrapper .container .search__input .form-control {
  padding: 7px 14px;
  border: 1px solid #191970;
  outline: none;
  border-radius: 8px;
  width: 100%;
  background: white;
}

.main__content .templates__wrapper .container .search__input .form-control:focus, .main__content .templates__wrapper .container .search__input .form-control:hover {
  border: 2px solid black;
}

.main__content .templates__wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.main__content .templates__wrapper .container .heading {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .templates__wrapper .container .heading h1 {
  font-size: 27px;
}

.main__content .templates__wrapper .container .heading span {
  color: #191970;
}

.main__content .templates__wrapper .container .heading .divider {
  width: 60%;
}

.main__content .templates__wrapper .container .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .templates__wrapper .container .row .cate {
  outline: none;
  border: none;
  background-color: #191970;
  color: white;
  border-radius: 20px;
  padding: 8px 14px;
  cursor: pointer;
}

.main__content .templates__wrapper .container .row .cate:hover {
  background-color: black;
}

.main__content .templates__wrapper .container .row .active {
  background-color: black;
}

.main__content .templates__wrapper .container .row .active:hover {
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
}

.main__content .templates__wrapper .container .subcate-row .subcate {
  outline: none;
  border: 2px solid #191970;
  background-color: white;
  color: #191970;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
}

.main__content .templates__wrapper .container .subcate-row .subcate:hover {
  background-color: #191970;
  color: white;
}

.main__content .templates__wrapper .container .subcate-row .active {
  background-color: black;
  color: white;
}

.main__content .templates__wrapper .container .subcate-row .active:hover {
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
}

.main__content .templates__wrapper .container .templates__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__content .templates__wrapper .container .templates__rows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.main__content .templates__wrapper .container .templates__rows .template__card {
  width: 30%;
  background-color: white;
  padding: 10px 20px 10px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__content
  .templates__wrapper
  .container
  .templates__rows
  .template__card
  img {
  width: 100%;
  max-height: auto;
}

.main__content
  .templates__wrapper
  .container
  .templates__rows
  .template__card
  h3 {
  font-size: 20px;
  color: #191970;
}

.main__content
  .templates__wrapper
  .container
  .templates__rows
  .template__card
  .catp {
  font-size: 16px;
}

.main__content
  .templates__wrapper
  .container
  .templates__rows
  .template__card
  a {
  color: white;
  background-color: #191970;
  padding: 7px 14px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

.main__content
  .templates__wrapper
  .container
  .templates__rows
  .template__card
  a:hover {
  background-color: black;
}

.main__content
  .templates__wrapper
  .container
  .templates__row
  .templates__rows__pagination {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.main__content
  .templates__wrapper
  .container
  .templates__row
  .templates__rows__pagination
  button {
  color: white;
  background-color: #191970;
  padding: 7px 14px;
  margin: 10px 0;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  outline: none;
  border: none;
}

.main__content
  .templates__wrapper
  .container
  .templates__row
  .templates__rows__pagination
  button:hover {
  background-color: black;
}

.main__content
  .templates__wrapper
  .container
  .templates__row
  .templates__rows__pagination
  .active {
  background-color: black;
}

.main__content
  .templates__wrapper
  .container
  .templates__row
  .templates__rows__pagination
  .active:hover {
  background-color: white;
  color: #191970;
  border: 1px solid #191970;
}

/* 

.main__content .hiw .hiw__container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.main__content .hiw .hiw__container .container .col:nth-child(1) h1 {
  font-size: 27px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 40px;
  color: black;
}

.main__content .hiw .hiw__container .container .col:nth-child(1) p {
  font-size: 15px;
  line-height: 27px;
  color: black;
  word-break: keep-all;
  text-align: justify;
}

 */

/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 25px 0;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container nav ul a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px 10px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  position: relative;
}

header .container nav ul a:hover {
  font-weight: bold;
  color: #191970;
}

/* Pseudo-element for border-bottom */
header .container nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Start from the center */
  transform: translateX(-50%);
  width: 0; /* Initial width */
  height: 2px; /* Height of the border */
  background-color: #191970; /* Color of the border */
  transition: width 0.3s ease;
}

/* Hover styles */
header .container nav ul li a:hover::after {
  width: 100%; /* Expand width to 100% on hover */
}

header .container nav ul li a:hover {
  color: #191970; /* Change text color on hover */
}

header .container nav .ri-menu-line {
  display: flex;
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .a {
  width: 100%;
  padding: 4% 0;
}

footer .a .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
}

footer .a .container .col {
  width: 25%;
  display: flex;
  flex-direction: column;
}

footer .a .container .col h3 {
  margin-bottom: 20px;
}

.logo__h1 {
  font-weight: 600;
  font-size: 21px;
  color: #191970;
}

.logo__h1 a {
  text-decoration: none;
}

.logo__h1 span {
  font-weight: 800;
  color: black;
}

footer .a .container .logo__h1 {
  margin-bottom: 20px;
}

footer .a .container p {
  color: black;
  font-size: 14px;
  margin-top: 30px;
  line-height: 25px;
}

footer .a .container nav {
  margin-left: 20px;
}

/* footer .a .container .nav2 {
  margin-left: 0px;
} */

footer .a .container nav ul {
  list-style: none;
  padding: 0;
}

/* footer .a .container .nav2 {
  margin-top: 35px;
} */

footer .a .container .link__col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42%;
}

footer .a .container .link__col .cola,
footer .a .container .link__col .colb {
  width: 45%;
}

footer .a .container nav ul li a {
  text-decoration: none;
  color: #555;
  display: block;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

footer .a .container nav ul li a:hover {
  color: #191970;
  font-weight: bold;
}

footer .a .container nav ul .social__icons > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

footer .a .container nav ul .social__icons > ul li a {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

footer .a .container nav ul .social__icons > ul li a:hover {
  box-shadow: 0 0 7px 0px rgba(25, 25, 112, 1);
  background-color: transparent;
}

footer .a .container nav ul .social__icons > ul li .fb {
  color: #1877f2;
}

footer .a .container nav ul .social__icons > ul li .x {
  color: #1da1f2;
}

footer .a .container nav ul .social__icons > ul li .ins {
  color: #c13584;
}

footer .a .container nav ul .social__icons > ul li .ln {
  color: #0077b5;
}

footer .b {
  width: 100%;
  background-color: black;
  padding: 2% 0;
}

footer .b .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: relative;
}

footer .b a {
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}

footer .b a svg {
  width: 40px;
  height: 40px;
  color: #191970;
}

footer .b a:hover {
  color: white;
  box-shadow: 0 5px 10px rgba(25, 25, 112, 1);
}

/* MEDIA QUERIES */

/* Screens less than 840px */
@media (max-width: 1024px) {
  header .container nav ul {
    display: none;
  }
}

@media (min-width: 1025px) {
  header .container nav .ri-menu-line {
    display: none;
  }
}

@media (max-width: 960px) {
  footer .a .container {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  footer .a .container .col,
  footer .a .container .link__col {
    width: 50%;
  }
}

@media (max-width: 840px) {
  .main__content .templates .container .templates__rows .template__card {
    width: 45%;
  }

  footer .a .container .col,
  footer .a .container .link__col {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .main__content .hero .hero__container .container {
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  .main__content .hero .hero__container .container .col:nth-child(1),
  .main__content .hero .hero__container .container .col:nth-child(2) {
    width: 100%;
  }

  .main__content .hiw .container .row {
    flex-direction: column;
  }

  .main__content .hiw .container .row .col:nth-child(1) {
    display: none;
  }

  .main__content .hiw .container .row .col:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 640px) {
  footer .a .container .col,
  footer .a .container .link__col {
    width: 80%;
  }
}

@media (max-width: 556px) {
  .main__content .templates .container .templates__rows .template__card {
    width: 85%;
  }

  footer .a .container .col,
  footer .a .container .link__col {
    width: 100%;
  }

  footer .b a {
    bottom: 40px;
    right: 30px;
  }
}

@media (max-width: 480px) {
  .mobile__nav nav {
    width: 85%;
  }

  footer .a .container .link__col {
    flex-direction: column;
    width: 100%;
  }

  footer .a .container .link__col .cola,
  footer .a .container .link__col .colb {
    width: 100%;
  }
}

/* Privacy page */
div .privacy__page {
  display: flex;
}

.par__ppage {
  margin: 5px;
}
