{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home | ForfreeLetters</title> {% endblock title %} {% block seometa %}
<!-- SEO -->
<meta name="description" content="Your page description goes here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="Onimisea" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Open Graph (OG) Tags -->
<meta property="og:title" content="Your Page Title" />
<meta property="og:description" content="Your page description goes here." />
<meta property="og:image" content="https://example.com/your-image.jpg" />
<meta property="og:url" content="https://example.com/your-page-url" />
<meta property="og:site_name" content="Your Site Name" />
<meta property="og:type" content="website" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@yourtwitterhandle" />
<meta name="twitter:title" content="Your Page Title" />
<meta name="twitter:description" content="Your page description goes here." />
<meta name="twitter:image" content="https://example.com/your-image.jpg" />
{% endblock seometa %} {% block content %}

<section class="main__content">
  <section class="hero">
    <section class="hero__container">
      <section class="container">
        <section class="col">
          <h1>
            Be a step ahead in your career using our AI-crafted templates.
          </h1>
          <p>
            Select, Download, and Adapt… Over 1000 well-written templates that
            gives you an edge in your academics and business career. Choose any
            template that suits your need and get your writing started. Feel
            free to use the letters and recruiter-approved professional CVs that
            cut across several job positions.
          </p>
          <a class="primary__btn" href="#browse_templates">Browse Templates</a>
        </section>
        <section class="col">
          <img
            src="{% static 'imgs/hero_samples.png' %}"
            alt="ForfreeLetters"
          />
        </section>
      </section>
    </section>
  </section>

  <section class="hiw">
    <section class="container">
      <section class="heading">
        <h2>How <span>It</span> Works</h2>

        <section class="divider">
          <span class="line"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </section>
      </section>

      <section class="row">
        <section class="col">
          <img src="{% static 'imgs/hiw.jpg' %}" alt="ForfreeLetters" />
        </section>
        <section class="col">
          <ul>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12"
                />
              </svg>
              <span>
                Click on any of the six categories that interest you
              </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12"
                />
              </svg>
              <span> Search for the template you need </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12"
                />
              </svg>
              <span>
                Click on the template to download it as an editable file
              </span>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12"
                />
              </svg>
              <span>
                Or let AI do the writing for you and simply download it
              </span>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </section>

  <section class="blog">
    <section class="container">
      <section class="heading">
        <h2>Our <span>Blog</span></h2>

        <section class="divider">
          <span class="line"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </section>
      </section>

      <section class="row">
        <p>No blog article yet...</p>
        <section class="col"></section>
      </section>
    </section>
  </section>

  <section class="newsletter">
    <section class="overlay"></section>
    <section class="container">
      <h2>Subscribe to our Newsletter</h2>
      <form action="#" method="post">
        <input
          type="email"
          name="email"
          placeholder="you@example.com"
          required
        />
        <button type="submit" class="primary__btn">Subscribe</button>
      </form>
    </section>
  </section>
</section>

{% endblock content %}
