{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home | ForfreeLetters</title> {% endblock title %} {% block seometa %}
<!-- SEO -->
<meta name="description" content="Your page description goes here." />
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="Onimisea" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Open Graph (OG) Tags -->
<meta property="og:title" content="Your Page Title" />
<meta property="og:description" content="Your page description goes here." />
<meta property="og:image" content="https://example.com/your-image.jpg" />
<meta property="og:url" content="https://example.com/your-page-url" />
<meta property="og:site_name" content="Your Site Name" />
<meta property="og:type" content="website" />

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@yourtwitterhandle" />
<meta name="twitter:title" content="Your Page Title" />
<meta name="twitter:description" content="Your page description goes here." />
<meta name="twitter:image" content="https://example.com/your-image.jpg" />
{% endblock seometa %} {% block content %}
<section class="main__content">
  <section class="privacy">
    <section class="container">
      <!-- <section class="heading">
        <h2><span>Contact</span> Us</h2>

        <section class="divider">
          <span class="line"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </section>
      </section> -->
    <p>By using our website, you agree to all of the terms and conditions outlined below:</p>
      <section class="first_section">
        <div class="privacy__page">
          <p>1.</p>
          <h2>User Account and Password:</h2>
        </div>
        <p class="par__ppage">You are responsible for maintaining the confidentiality of your username and password which enables you to login on our website. You should not share your account details with anyone else.</p>
      </section>
      <section class="second_section"> 
        <div class="privacy__page">
          <span>2.</span>
          <h2>User Content:</h2>
        </div>
        <p class="par__ppage">All content uploaded by you on our website for creating your resume or letter will become the property of our website, and we will have the right to use it for any purpose, including promotional purposes. However, we will protect your personal information and will only disclose it as required by law.</p>
      </section>
      <section class="third_section"> 
        <div class="privacy__page">
          <span>3.</span>
          <h2>Payment:</h2>
        </div>
        <p class="par__ppage">Our website reserves the right to charge for any of its services. By using any paid services on our website, you agree to pay for them.</p>
      </section>
      <section class="fourth_section"> 
        <div class="privacy__page">
          <span>4.</span>
          <h2>Use of Service:</h2>
        </div>
        <p class="par__ppage">Our website is intended to provide users with templates for resumes, cover letters and other business letters. You agree to use our services for this purpose only, and not for any other illegal or unauthorized purposes.</p>
      </section>
      <section class="fifth_section"> 
        <div class="privacy__page">
          <span>5.</span>
          <h2>Accuracy of Information:</h2>
        </div>
        <p class="par__ppage">You are solely responsible for the accuracy and completeness of all information provided by you on our website. Our website is not responsible for any consequences or damages arising from any inaccuracies or errors in your resume or letters.</p>
      </section>
      <section class="sixth_section"> 
        <div class="privacy__page">
          <span>6.</span>
          <h2>Intellectual Property:</h2>
        </div>
        <p class="par__ppage">All content on our website, including but not limited to, designs, logos, text, graphics, and images, are protected by intellectual property laws. You are not permitted to use any of this content without our prior consent.</p>
      </section>
      <section class="seventh_section"> 
        <div class="privacy__page">
          <span>7.</span>
          <h2>Limitation of Liability:</h2>
        </div>
        <p class="par__ppage">Our website will not be liable for any damages, including but not limited to, direct, indirect, punitive, incidental, and consequential damages, arising from the use of our website and/or the inability to access our website.</p>
      </section>
      <section class="eighth_section"> 
        <div class="privacy__page">
          <span>8.</span>
          <h2>Termination:</h2>
        </div>
        <p>Our website has the right to terminate any account, at any time, without notice if we suspect that the user is engaging in any illegal or unauthorized activities or if any of these terms and conditions are breached.</p>
      </section>
      <p class="par__ppage">By using our website, you acknowledge and agree to all of these terms and conditions.</p>
    </section>
  </section>
</section>
    
{% endblock content %}
